.container{
    display: grid;
    grid-template-columns: 
        [sidebar-start] 1fr 
        [sidebar-end content-start] 3fr
        [content-end footer-start];
    grid-template-rows: 
        [header-start] 1fr 
        [header-end main-start] 4fr 
        [main-end footer-start] 1fr
        [footer-end];
    row-gap: 16px;
    column-gap: 4px;
    border: 2px solid #555;
    padding: 8px;
    min-height: calc(100vh - 50px);
}
.container *{
    border: 2px solid #333;
}
header{
    grid-column-start: sidebar-start;
    grid-column-end: content-end;
    border-color: #dd0808;
    background-color: #ff6666;
}
aside{
    border-color: #0ba7c6;
    background-color: #74ddf2;
}
main{
    border-color: #6f09e5;
    background-color: #b880f7;
}
footer{
    grid-column-start: sidebar-start;
    grid-column-end: content-end;
    border-color: #c4be0d;
    background-color: #f7f380;
}